/* sec 8*/
/*sec9*/
/* sec11*/
.sec11{
    background-color: #ffffff;
}
.sec11 h1{
    text-align: center;
    color: #36517e;
}
.sec11 p{
    text-align: center;
}
/* sec13 */
.sec13 h1{
    text-align: center;
}
